<div class="col-sm-6">
  <h3>Stores</h3>
  <% if @stores.any? %>
    <ul>
      <% @stores.each do |store| %>
        <li>
          <a href="/store/<%= store.id %>"><%= store.name %></a>
          <% if store.brands.any? %>
            :
            <% store.brands.each do |brand| %>
              <% if (@img_path + (brand.name + '.gif')).exist? %>
                <img class="logo" src="img/<%= brand.name %>.gif" alt="" />
              <% else %>
                <%= brand.name %>
              <% end %>
            <% end %>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <h4>There are no stores</h4>
  <% end %>

  <h3>Brands</h3>
  <% if @brands.any? %>
    <ul>
      <% @brands.each do |brand| %>
        <li><a href="/brand/<%= brand.id %>"><%= brand.name %></a></li>
      <% end %>
    </ul>
  <% else %>
    <h4>There are no brands</h4>
  <% end %>
</div>

<div class="col-sm-6">
  <form class="well new" action="/add_brand" method="post">
    <label for="new_brand_name">Brand Name:</label>
    <input type="text" name="new_brand_name" value="">
    <button class="btn btn-success" type="submit" name="add_brand">Add a Brand</button>
  </form>
  <form class="well new" action="/add_store" method="post">
    <label for="new_store_name">Store Name:</label>
    <input type="text" name="new_store_name" value="">
    <button class="btn btn-success" type="submit" name="add_store">Add a Store</button>
  </form>
</div>
